#login {height: 2em; padding: 0px;}
#login h5{float: right; padding: 0px;}

#masthead {padding: 0px;}

#masthead #brand a {text-decoration: none;}

#masthead #brand a p {	
	font-size: 800%;
	color: #ffaa00;
	font-family: "minion pro", garamond, "times new roman", serif;
	font-style: italic;
	line-height: .8em;
	display: inline;
	vertical-align: top;}

#masthead #brand {
	background: #eee;
}

#masthead div.navbar-collapse { margin-top: 5px; width: 100%; padding: 0px;}

#masthead ul.nav li a:hover { background: #eee; color: #ffaa00;}

#masthead ul.nav li a{ color: #777;}

form.form-signin h2, form.form-signin button, form.form-signin input { margin-bottom: 20px;}

form.form-signin h2 {text-align: center;}

#login a{ color: #ffaa00; }

ul.select2-results {border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;}

form input.btn { margin: 20px 15px -10px 0;}
a#add-review {margin: 15px 0;}

#tags div.row, #summary-and-themes div.row { border-bottom: 1px solid #ddd; margin-bottom: 25px; padding: 0 0 15px 0;}

form #summary-and-themes textarea {height: 300px;}

div.select2-container {width: 100%;}